.card {
  width: 250px;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

label {
  width: max-content;
  color: rgb(202, 108, 124);
  font-size: 10px;
  border-bottom: 1px solid rgb(202, 108, 124);
  margin: 3px 0;
}

.desc {
  font-size: 13px;
}

.star {
  color: gold;
}

.username {
  font-size: 15;
}

.date {
  font-size: 10px;
}

form {
  width: 250px;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

input,
textarea {
  border: none;
  border-bottom: 1px solid grey;
}

input::placeholder,
textarea::placeholder {
  font-size: 12px;
  color: rgb(146, 142, 142);
}

.submitButton {
  border: none;
  padding: 5px;
  border-radius: 3px;
  color: white;
  background-color: rgb(202, 108, 124);
  cursor: pointer;
}

.button {
  border: none;
  padding: 5px;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}

.logout {
  background-color: rgb(202, 108, 124);
}

.login {
  background-color: rgb(48, 137, 140);
  margin-right: 10px;
}

.register {
  background-color: blue;
}

.buttons,
.logout {
  position: absolute;
  top: 10px;
  right: 10px;
}

.numLikes {
  margin-bottom: 5px;
}
